<%- include("partials/header") -%>

<div class="exists-container">
    <div class="heading">Account <span>Exists</span>!</div>
    <div class="msg">This account already exists. Try Signing in</div>
    <a href="/signin"><button class="exist-btn btn-reg">Sign in</button></a>
</div>

<%- include("partials/footer") -%>