<%- include("partials/header") -%>

    <div class="passChangeContainer">
        <div class="pChange">
            <h2>Password changed successfully.</h2>
            <p>You can now sign in to your account using the new password that you just changed.</p>
            <a href="/signin"><button id="btn-reg">Sign In</button></a>
        </div>
    </div>

<%- include("partials/footer") -%>